.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}

.box {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
  background-color: white;
}

.chat {
  display: contents;
}

.chat-history {
  width: 100%;
  height: calc(100% - 52px);
  overflow: scroll;
}

.chat-history .from {
  max-width: 750px;
  min-width: 150px;
  width: auto;
  margin: 0px 32px 8px 32px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  clear: both;
}

.chat-history .from-user {
  float: right;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 0px;
  background-color: #0062ff;
  color: white;
}

.chat-history .from-user p, .chat-history .from-watson p {
  margin: 8px;
  word-wrap: break-word;
}

.chat-history .from-watson {
  float: left;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 16px;
  background-color: #e0dbda;
  color: black;
}

.chat-history .first {
  margin-top: 8px;
}

.input-form {
  width: 100%;
  height: 52px;
}

.input-form form {
  height: 100%;
  overflow: hidden;
  background-color: #e0dbda;
  display: flex;
}

.input-form input[type="text"] {
  width: calc(97% - 52px);
  height: 75%;
  margin: 0px 0px 0px 8px;
  padding: 0px 8px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.input-form button {
  width: 44px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1400px) {
  .box {
    top: 32px;
    left: 50%;
    margin-left: -700px;
    height: calc(100% - 64px);
    width: 1400px;
    border-radius: 4px;
  }
}
